*{
    margin: 0;
}
body{
    background-color: rgb(252, 244, 244);
}
main{
    margin-left: 100px;
}
.Restaurant{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card:hover{
    background-color: white;
    border-color: white;


}

.off{
    font-size: 30px;
    color: white;
    background-color:rgba(250, 0, 33, 0.4);
    position: absolute;
    bottom: 5px;
    

}

.image{
    position: relative;
}

.card{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 10px solid rgb(252, 244, 244);
    border-radius: 15px;
}

.first{
    margin-left: 200px;

}
.second{
    padding-bottom: 10px;
    margin-top: 20px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;

}
.third{
    height: 400px;
    width: auto;
    background-color: rgb(244, 241, 241);
    padding-left: 120px;
    padding-bottom: 70px;
    padding-top: 20px;
    
    border: 0px solid rgb(255, 255, 255);

}
.third h2{
    font-size: 30px;
    color: #1c1c1c;
    font-family: Okra, Helvetica, sans-serif;
    font-weight: 10;
}
.third p{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Okra, Helvetica, sans-serif;
    font-weight: 10;

}

.c1,.c2,.c3,.c4{
    position: relative;
}
.cimage{
    height: 300px;
    /* width: auto; */
    border-radius: 10px;
    filter:  brightness(70%);
}
.c_text{
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 5px;
    font-size: 20px;
    bottom: 10px;
    left: 20px;
    
}
.dining{
    margin-left: 200px;
}


.img3{
    height: 50spx;
    width: 50px;
}
.dine,.deliverys,.nighting{
    position: relative;
    bottom: 25px;
    left: 5px;
    font-size: 15px;
    color: rgb(96, 95, 95);
    cursor: pointer;
}
.delivery{
    margin-left: 50px;
    margin-right: 50px;
}

.dine:hover{
    color: rgb(231, 64, 64);
    text-decoration: underline ;
    scale: 1.1;

}
.deliverys:hover{
    color: rgb(231, 64, 64);
    text-decoration: underline ;
    scale: 1.1;
    
}
.nighting:hover{
    color: rgb(231, 64, 64);
    text-decoration: underline ;
    scale: 1.1;
    
}






.brand{
    color: rgb(207, 0, 0);
    font-weight: bold;
    margin-right: 50px;
    font-size: 30px;
}
.searching{
    width: 300px;
    border-radius: 3px;
    border: 0.11px solid rgb(157, 155, 155);
    padding-left: 10px;
    position: relative;
    bottom: 5px;
    margin-right: 50px;
    height: 30px;
    bottom: 13px;
}
button{
    height: 50px;
    width: 80px;
    position: relative;
    bottom: 13px;
    font-size: 15px;
    margin-right: 50px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: rgb(77, 73, 73);

}
.head{
    background-color: white;
}
.log{

}


.Box{
    display: inline-block;
}

.img{
    height: 250px;
    width: auto;
    border-radius: 20px;
}

.Restaurant_name{
    font-size: 20px;
    font-weight: bold;
    
}
.Rating{
    background-color: green;
    height: 20px;
    padding: 3px;
    position: absolute;
    right: 5px;
    color: white;
    border-radius: 8px;
}

.Food, .Location{
    position: relative;
}
.Price, .Distance{
    position: absolute;
    right: 5px;
}

.Food,.Place{
    font-size: 15px;
    color: rgb(112, 110, 110);
}
.Distance{
    font-weight: bold;
    font-size: 13px;
}