

.container{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    height: 700px;
    justify-content: center;
    align-items: center;
}
.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    
}


/* flex item */
/* order- it defines the order of elements*/
/* default order is 0 */


.box1{
    background-color: red;
    /* order: 10; */
    /* align-self: flex-start; */
}

.box2{
    background-color: blue;
    /* width: 600px; */
    /* order: 4; */
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    /* flex-basis: 300px; */

}
.box3{
    background-color: green;
    /* order: -1; */
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    /* align-self: flex-end; */

    /* flex: 2 2 200px; */
    /*flex:[flex-grow][flex-shrink][felx-basis]  */
}
.box4{
    background-color: orange;
    /* order: 5; */
    /* flex-grow: 1; */
    /* flex-shrink: 3; */
}

/* Desktop */


/* Tablet */


/* Mobile */

