/* h2{
    background-color: aqua;
    width: 300px;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: brown;
    border-radius: 20px;
    padding: 10px 20px ;

    
    margin: 20px 50px 55px  15px;    
}
h4{
    background-color: #17fced;
    
    border-width: 10px 20px;
    border-style: solid;
    border-color: greenyellow;
}



ul{
    background-color: pink;
}
p{
    border: 5px solid;
    border-style: solid;
    border-color: blue;
    border-width: 10px;
    padding: 15px;
} */