.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 170px;
}

.nav-items > ul{
    display: flex;
    padding: 0px 50px;
    list-style-type: none;
    font-size: 24px;


}

.nav-items >ul>li{
    padding: 10px;
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.res-card{
    margin: 5px;
    width: 200px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    

    
}
.res-card:hover{
    border: 1px rgb(101, 100, 100);
    transition-property: all;
    transition-duration: 1s;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgb(149, 149, 149);

}
.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
    height: 150px;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.viewall-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
    border: 1px rgb(101, 100, 100);
    transition-property: all;
    transition-duration: 1s;
    border-radius: 10px;
}
.login{
    padding: 0px 20px;

    cursor: pointer;
}
.filter{
    display: flex;
}
.filter > .search{
    margin: 5px 0px;
}
.search input{
    padding: 2px;
    margin-right: 3px;
}
.search button{
    padding: 2px;
    cursor: pointer;

}